[Unit]
Description=Backup Manager Local - fila de sincronizacao simulada

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=backup-manager-cloud-sync.service

[Install]
WantedBy=timers.target
